/***************************
        Dojo Css
***************************/


main{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

}

header{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-right: 5px;
}
li:first-child {
    color: #00ADCB;
}
.title{
    text-align: center;
    background-image: url("./img/bg.jpg");
    height : 400px;
    background-position: center center;

}

.second_text{
    flex : 5;
    text-align: center;
}
.last_section {
    display: flex;



}

.blue {
    color: #00ADCB;
}

.grey {
    color: #bbbbae;
}

button {
    margin: auto;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #486c8c;
    padding: 1%;
}


.ok{
    margin-top: 150px;
color: white;

}

.logo {
    margin:auto;

}

.last_section article{
    display:flex;
    flex-direction:column;
    align-content:center;
    text-align:center;
    justify-content:center;
}

#what {
  color: #00ADCB;
}
a {
  opacity: 0.6;
  color: black;
  font-weight: bold;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
  text-decoration: none;
}
.liste{
  display: none;
}
.liste:hover{
  background-color:  #00ADCB;
}
.liste li:hover{
  background-color:  RGB(000, 115, 200);
  font-weight: bold;
  color: white;
}
.liste li:hover a{
  color: white;
}
#menu li:hover .liste {
    display: block;
    padding: inherit;
}

nav input[type=checkbox]:checked ~ ul{
  display: block;
}
@media screen and (max-width: 780px){
  .menu-mobile{
    color: black;
    display: block;
    text-align: center;
    padding: 12px 0px;
  }
  nav ul{
    display: none;
  }
  nav li:hover .liste{
    display: block;
  }
}
nav input {
  display: none;
}
nav label {
  display: none;
}
